
* {
    padding:0;
    margin:0;
}

html {
  box-sizing: border-box;
}

:root{

    /* Primary colors */
    --softred: hsl(7, 99%, 70%);
    --yellow:hsl(51, 100%, 49%);
    --darkcyan:hsl(167, 40%, 24%); /*graphic design text*/
    --darkblue:hsl(198, 62%, 26%); /*photography text*/
    --darkmoderatecyan: hsl(168, 34%, 41%); /*footer*/
    
    /* Neutral colors */
    --dark: hsl(212, 27%, 19%);
    --verydarkgrayishblue:hsl(213, 9%, 39%);
    --darkgrayishblue:hsl(232, 10%, 55%); 
    --grayishblue:hsl(210, 4%, 67%); 
    --white: hsl(0, 0%, 100%); 

    /* 

- Family: [Barlow](https://fonts.google.com/specimen/Barlow)
- Weights: 600
- Family: [Fraunces](https://fonts.google.com/specimen/Fraunces)
- Weights: 700, 900
    */
    
}


/* NAVIGATION */

nav {
    height: 4rem;
    background-color: #40bfff;
    border: 1px solid white;
}





/* HEADER */


header {
    width: 100%;
    height: 500px;
    background-image: url(./desktop/image-header.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

header h1{
    font-family: 'Fraunces', serif;
    color: var(--white);
    text-align: center;
    padding-top: 4rem;
    letter-spacing: 0.3em;
}

header .arrow {
    display: block;
    height: 5rem;
    padding-top: 8rem;
    margin: 0 auto;
}

@media only screen and (max-width: 375px){
    header {
    background-image: url(./mobile/image-header.jpg);
    height: 500px;
}

    header h1{
    text-align: center;
    padding: 4.5rem 2rem 0 2rem;
    
}
}    

/* BRAND SECTION */

.brand {
    display: flex;
    font-family: 'Fraunces', serif;
    
}

.text-container{
    width: 50%;
    height: 600px;
}

.brandtext-box {
   width: 50%;
   height: auto;
   margin: 8rem auto;
   
}

.title {
    width: 60%;
    padding-bottom: 2rem;
    color: var(--dark);
}

.body {
    font-family: 'Barlow', sans-serif;
    line-height: 1.5;
    color: var(--darkgrayishblue);
    padding-bottom: 2rem;
}


.learnlink {
    text-decoration: none;
    text-transform: uppercase;
    color: var(--dark);
    position:relative;
    z-index: 1;
    padding-left: 0.5rem;
}

.learnlink::before{
    border: 5px solid var(--yellow);
    opacity: 50%;
    content:"";
    margin: 0 auto; 
    position: absolute; 
    top: 60%; left: 0; right: 0; bottom: 0;
    width: 100%;
    z-index: -1;
}

.image-container {
    width: 50%;
    height: 600px;
    overflow: hidden;
    background-image: url(./desktop/image-transform.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
}


@media only screen and (max-width: 770px){
    .brand {
        display: flex;
        flex-direction: column-reverse;
}  

.text-container{
    width: 100%;
    height: 300px;
}

.image-container {
    width: 100%;
    height: 400px;
    
}

.brandtext-box {
   width: 85%;
   height: auto;
   margin: 3rem auto; 
}

.title {
    display: block;
    margin: 0 auto;
    text-align: center;
    padding-bottom: 1rem;
}

.body {
    padding-bottom: 1rem;
    text-align: center;
}


.learnlink {
    position:none;
    display: block;
    margin: 0 auto;
    z-index: 1;
    padding-left: 0;
    text-align: center;
    
}

.learnlink::before{
    width: 25%;
}

}

@media only screen and (max-width: 514px) and (min-width:429px){
  

    .learnlink::before{
    width: 30%;
}

}    

@media only screen and (max-width: 428px) and (min-width:375px){

    .learnlink::before{
    width: 35%;
}

}  



/* AUDIENCE SECTION */

.audience {
    display: flex;
    font-family: 'Fraunces', serif;
}


.image-container2 {
    width: 50%;
    height: 600px;
    overflow: hidden;
    background-image: url(./desktop/image-stand-out.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}


.learnlink2 {
    text-decoration: none;
    text-transform: uppercase;
    color: var(--dark);
    position:relative;
    z-index: 1;
    padding-left: 0.5rem;
}

.learnlink2::before{
    border: 5px solid var(--softred);
    opacity: 50%;
    content:"";
    margin: 0 auto; 
    position: absolute; 
    top: 60%; left: 0; right: 0; bottom: 0;
    width: 100%;
    z-index: -1;
}



@media only screen and (max-width: 770px){
    .audience {
        display: flex;
        flex-direction: column;
}  


.image-container2 {
    width: 100%;
    height: 400px;
    background-image: url(./mobile/image-stand-out.jpg);
}

.learnlink2 {
    position:none;
    display: block;
    margin: 0 auto;
    z-index: 1;
    padding-left: 0;
    text-align: center;
    
}

.learnlink2::before{
    width: 25%;
}

}

@media only screen and (max-width: 514px) and (min-width:429px){

    .learnlink2::before{
    width: 30%;
}
}    

@media only screen and (max-width: 428px) and (min-width:375px){

    .learnlink2::before{
    width: 35%;
}
} 



/* WOKR SECTION */

.work {
    width: 100%;
    display: flex;
    font-family: 'Fraunces', serif;
}

.design {
    width: 50%;
    height: 570px;
    background-image: url(./desktop/image-graphic-design.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.designtext {
    width: 55%;
    margin: 22rem auto 0 auto;
    text-align: center;
    color: var(--darkcyan);
}

.designtext p {
    line-height: 1.5;
    opacity: 70%;
    padding-top: 1.5rem;
}


.photography {
    width: 50%;
    height: 570px;
    background-image: url(./desktop/image-photography.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.phototext {
    width: 55%;
    margin: 22rem auto 0 auto;
    text-align: center;
    color: var(--darkblue);
}

.phototext p {
    line-height: 1.5;
    opacity: 70%;
    padding-top: 1.5rem;
}



@media only screen and (max-width: 770px){

    .work {
    flex-direction: column;
}


.design {
    width: 100%;
    height: 550px;
}

.designtext {
    width: 90%;
    font-size: 15px;
}


.photography {
    width: 100%;
    height: 550px;
}

.phototext {
    width: 90%;
    font-size: 15px;
}

}




/* TESTIMONIALS SECTION */


.testimonials h1 {
    text-align: center;
    font-family: 'Fraunces', serif;
    color: var(--grayishblue);
    letter-spacing: 5px;
    margin-top: 6em;
}

.testimonials-flex {
    display: flex;
    justify-content: center;
    width: 100%;
}

.testimonial-box {
    width: 33%;
    text-align: center;
    font-family: 'Barlow', sans-serif;
    color: var(--verydarkgrayishblue);
}

.testimonial-box img {
    display: block;
    width: 20%;
    margin: 4rem auto 0 auto;
    border-radius: 50%;
}

.description {
    line-height: 2;
    padding: 2.5rem 5rem;
}

.name {
    font-family: 'Fraunces', serif;
    color: var(--dark);
    padding-bottom: 1rem;

}

.jobtitle {
    color: var(--grayishblue);
    padding-bottom: 6rem;

}

@media only screen and (max-width: 770px){

    .testimonials h1 {
    margin-top: 2em;
}

   .testimonials-flex {
    justify-content: center;
    flex-direction: column;
}

.testimonial-box {
    width: 100%;
}



.description {
    line-height: 2;
    padding: 2.5rem 3rem;
}

.jobtitle {
    color: var(--grayishblue);
    padding-bottom: 2rem;

}
}



/* BOTTOM BANNER */

.bottombanner {
    display: flex; 
}

.desktopbottombannerpic {
    display: block;
    width: 25%;
}

.mobilebottombannerpic {
    display: none;
}


@media only screen and (max-width: 770px){

    .bottombanner {
    flex-wrap: wrap;
}

.desktopbottombannerpic {
    display: none;
}


    .mobilebottombannerpic {
    display: block;
    width: 50%;
}

}    


/* FOOTER */





/* ATTRIBUTION */

.attribution {
    text-align: center;
    font-family: "Courier New", Courier, monospace;
    color: var(--darkcyan);
    padding: 2rem 1rem;
}


.attribution a {
  text-decoration: none;
  color: var(--softred);
}

.attribution a:hover {
  color: var(--darkcyan);
}


